{{##def.root = def.root || "." #}}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{= it.root}}stylesheets/main.css"></link>
  <script type="text/javascript" src="{{= it.root}}js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="{{= it.root}}js/log4javascript.js"></script>
  <script type="text/javascript" src="{{= it.root}}../../src/chuck.js"></script>
  <script type="text/javascript" src="{{= it.document.code}}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
        var btn = $('#button'),
            pre = $('#code'),
            logger = log4javascript.getLogger(),
            args = '{{= it.document.args || ""}}';

        args = args ? args.split(":") : [];
        logger.addAppender(new log4javascript.BrowserConsoleAppender());
        logger.setLevel(log4javascript.Level.DEBUG);
        pre.text(code);
        btn.click(function () {
          console.debug("Executing program");
          if (args.length > 0) {
            console.debug("With arguments:", args);
          }
          Module.ccall('executeCode', null, ['string', 'string'],
            ['{{= it.document.title}}', code])
        });
    });
  </script>
  <title>ChucK {{= it.document.title}}</title>
</head>
<body>
<h1>ChucK {{= it.document.title}}</h1>
{{= it.document }}
<pre id="code"></pre>
<input id="button" type="button" value="Play">
</body>
</html>
